body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

div {
    height: auto;    
    width: auto;
    margin: 3px;
    padding: 1px;
    background-color: #f5f5f5;
    border: red;
    border-width: 2px;
    border-style: solid;
}