@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Nunito+Sans:wght@300;400;600;700;900&display=swap');


:root {
  font-family: "Inter",  sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);

  --color-primary: #7E9CD8;

  --color-secondary:#C2D0EA;
  --color-tertiary:#2440A6;

  --color-text: #2440A6;
  --color-highlight: #26D8D8;
  --color-effect: #3B5FDF;
  --color-underline: #293054;
}


* {
  margin: 0;
  padding: 0;
  box-sizing:inherit;
}

html {
  /* font-size: 62.5%; */
  /* nwo the 1rem = 10px */
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 1.6;
  width: 100%;
  background-color: var(--color-primary);
}





/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height:5rem;
  background-color: var(--color-secondary);
}

nav {
  display: flex;
  
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0 1rem;
}
li a {
  color: var(--color-text);
  font-size: 1.1rem;
}

a {
  text-decoration : none;
  
}

a:active {
  color: inherit;
}


.btn {
  margin : 0 0.2rem ;
    background-color: var(--color-tertiary);
    color: white;

    padding: 0rem 1rem;
    border-radius: 0.5rem;
    border: 3px solid #132C6C;
    cursor: pointer;
}

.signup {
  background-color: white;
  color: #000;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
}
.login {
    padding: 0.5rem 1rem;

}
.logo {
  height: 4rem;
  width: 15rem;
}

.username {
  font-size: 1.5;
  margin-left: 2rem;
  color: var(--color-effect);
  font-weight: 900;
  display: flex;
  align-items: center;
}
.username img{
  width: 30px ;
  margin-left: 5px;
}

.role {
  display: flex;
  gap:15px;
}

/* Homepage */

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-grow: 1;
  padding: 4rem 8rem 
}

.heroimg {
  width: 100% ;
  height: 100%;
}

.text {
  max-width: 50%;
  padding-right: 6rem;
}

.heading {
  font-size: 3rem;
  line-height: 1.3;
  color: var(--color-text);
  font-weight: 900;
}
.heading span {
  color: var(--color-highlight);
}
.sub-heading {
  margin-top: 1.5rem;
  letter-spacing: 2px;
}

.btn-imp{
  display: inline-block;
  margin : 2rem 0rem ;
  background-color: var(--color-tertiary);
  color: white;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 3px solid #132C6C;
}

/* Courses */ 

.courses {
  padding: 4rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* Eacth course */

.course {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  max-width: 15rem;
  
  color : rgba(0, 0,0, 0.8);
}
.details {
  position: relative;
  padding : 0rem 0.8rem;
  justify-content: space-between;
}
.title {
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px;
  white-space: nowrap;

}
.instructor {
  color: grey;
}
.course-img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
height: 10rem;
width: 15rem;
}

.extra {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 1rem 0.3rem 0;
}

.main-info{
  bottom: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2erm;
  margin-bottom: 10px;
}
.main-info span {
  background-color: var(--color-effect);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Sign up login up */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  border-radius: 20px;
  color: rgb(75, 75, 85);
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem 1rem;
  min-height: 20rem;
  justify-content: space-around;

}

input {
  height: 2.2rem;
  padding: 10px;
  width: 90%;
  margin: .5rem .5rem ;
  border-radius: 10px;
  border: 2px solid grey;
  outline: none;
}
.radiobtn {
    display: flex ;
    flex-direction: row;
  }
  .radiobtn label{
    display: flex ;
    flex-direction: row;
    padding: 5px 5px 0 5px;
    justify-content: center;
  align-items: center;
  font-size: 14px;
}

input[type="radio"] {
  width: 1rem;
  margin-right: 4px;
}

button {
  background-color: var(--color-tertiary);
  color: white;
  border: none;
  padding: .5rem 2.5rem ;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 22px;
}