@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

.course-img {
  width: 100%;
  height: 180px;
}

.course-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-content {
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.course-content .title {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
}

.course-content .price {
  font-family: "Belanosima", sans-serif;
}

.display-content .title {
  font-family: "Belanosima", sans-serif;
  margin-bottom: 20px;
  font-weight: 500;
}

.display-content .description {
  font-family: "Belanosima", sans-serif;
  margin-bottom: 20px;
}
