:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  background: linear-gradient(45deg,rgb(174, 96, 96),rgb(92, 6, 20));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: yellow;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  
  border-radius: 20px;
  border: 3px solid transparent;
  padding: 10px 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0a080c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: yellow;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.title{
  color:greenyellow
}
.description{
  color:greenyellow
}
.add{
  color:aliceblue
}