
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(114, 190, 205);
    padding: 20px;
    border-radius: 8px;
}

.text{
    border-radius: 10px;
    border: none;
    margin: 0.5em;
    width: 80%;
}

.button{
    color: white;
    background-color: red;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;  
}

.button:hover{
    background-color:rgb(104, 183, 58);
    color:black;
    transform: translateY(-2px);
    transition: ease-out 0.5s;
}